#To resolve all dependencies use 
# $ play dependencies
lib/
modules/
# Preventing workspace prefs from being comited:
nbproject/
/eclipse
/tmp
.classpath
.project
.settings/
/gae-1.4
/precompiled
*.kate-swp
data/*
server.pid
log/*
logs/*
*~
/.sonar/batch/antlr-2.7.6.jar
/.sonar/batch/commons-beanutils-1.8.3.jar
/.sonar/batch/commons-codec-1.4.jar
/.sonar/batch/commons-collections-3.2.1.jar
/.sonar/batch/commons-configuration-1.6.jar
/.sonar/batch/commons-dbcp-1.3.jar
/.sonar/batch/commons-digester-1.8.jar
/.sonar/batch/commons-io-2.0.1.jar
/.sonar/batch/commons-lang-2.6.jar
/.sonar/batch/commons-pool-1.5.4.jar
/.sonar/batch/dom4j-1.6.1.jar
/.sonar/batch/ehcache-1.2.3.jar
/.sonar/batch/ejb3-persistence-1.0.2.GA.jar
/.sonar/batch/geronimo-spec-jta-1.0-M1.jar
/.sonar/batch/google-collections-1.0.jar
/.sonar/batch/hibernate-annotations-3.4.0.GA.jar
/.sonar/batch/hibernate-commons-annotations-3.1.0.GA.jar
/.sonar/batch/hibernate-core-3.3.2.GA.jar
/.sonar/batch/hibernate-ehcache-3.3.2.GA.jar
/.sonar/batch/hibernate-entitymanager-3.4.0.GA.jar
/.sonar/batch/janino-2.5.10.jar
/.sonar/batch/javassist-3.4.GA.jar
/.sonar/batch/javax.inject-1.jar
/.sonar/batch/jcl-over-slf4j-1.5.6.jar
/.sonar/batch/jcommon-1.0.12.jar
/.sonar/batch/jsr250-api-1.0.jar
/.sonar/batch/log4j-over-slf4j-1.5.6.jar
/.sonar/batch/logback-classic-0.9.15.jar
/.sonar/batch/logback-core-0.9.15.jar
/.sonar/batch/picocontainer-2.10.2.jar
/.sonar/batch/plexus-classworlds-2.2.3.jar
/.sonar/batch/serializer-2.7.1.jar
/.sonar/batch/slf4j-api-1.5.6.jar
/.sonar/batch/sonar-batch-2.10.jar
/.sonar/batch/sonar-batch-maven-compat-2.10.jar
/.sonar/batch/sonar-channel-2.10.jar
/.sonar/batch/sonar-check-api-2.10.jar
/.sonar/batch/sonar-colorizer-2.10.jar
/.sonar/batch/sonar-core-2.10.jar
/.sonar/batch/sonar-deprecated-2.10.jar
/.sonar/batch/sonar-duplications-2.10.jar
/.sonar/batch/sonar-graph-2.10.jar
/.sonar/batch/sonar-java-api-2.10.jar
/.sonar/batch/sonar-markdown-2.10.jar
/.sonar/batch/sonar-plugin-api-2.10.jar
/.sonar/batch/sonar-squid-2.10.jar
/.sonar/batch/sonar-update-center-common-1.1.jar
/.sonar/batch/stax-api-1.0.1.jar
/.sonar/batch/stax2-api-3.0.1.jar
/.sonar/batch/staxmate-2.0.0.jar
/.sonar/batch/woodstox-core-lgpl-4.0.4.jar
/.sonar/batch/xalan-2.7.1.jar
/.sonar/batch/xercesImpl-2.8.1.jar
/.sonar/batch/xml-apis-1.3.03.jar
/.sonar/batch/xpp3-1.1.3.3.jar
/.sonar/batch/xstream-1.3.1.jar
/crud
/betterlogs-1.0
/target
*.ids
*.iml
*.ipr
*.iws
test-result/

