[submodule "client/restaurant/android"]
	path = client/restaurant/android
	url = gitolite@ubi.dyndns.info:delivery-android-client

[submodule "client/restaurant/android-web"]
	path = client/restaurant/android-web
	url = gitolite@ubi.dyndns.info:delivery-restaurant-android-web
[submodule "client/courier/android"]
	path = client/courier/android
	url = gitolite@ubi.dyndns.info:delivery-android-courier
[submodule "client/courier/android-web"]
	path = client/courier/android-web
	url = gitolite@ubi.dyndns.info:delivery-android-courier-web
[submodule "client/enduser/android"]
	path = client/enduser/android
	url = gitolite@ubi.dyndns.info:delivery-android-enduser
