#{extends 'main-restaurant-admin.html' /}
#{set 'title'}
    ${login} administration page
#{/set}
#{set 'moreScripts'}
	<script type="text/javascript" src="http://www.highcharts.com/js/testing-stock-exporting.js"></script>
	<script type="text/javascript" src="http://www.highcharts.com/samples/data/usdeur.js"></script>
	<script type="text/javascript" >
jQuery(function() {
    // Create the chart    
    window.chart = new Highcharts.StockChart({
        chart: {
            renderTo: 'incomeChart'
        },
        /*
        rangeSelector: {
            selected: 1
        },
        
        title: {
            text: 'USD to EUR exchange rate'
        },*/
        
        xAxis: {
            maxZoom: 14 * 24 * 3600000 // fourteen days
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },
        
        series: [{
            name: 'USD to EUR',
            data: usdeur
        }]
    });
});
</script>
#{/set}
			<div id="left_cont">
				<div class="top_left_cont">
					<H1>Загальний підсумок</H1>
					<div class="inner_div">
						%s замовленнь було зроблено у вашому ресторані %s користувачами. Залишено %s коментарів. 
						За сьогодні отримано %s чистого прибутку( %s за весь час співпраці). 
					</div>
				</div>
				<div class="top_left_cont">
					<H1>Графік прибутку</H1>
					<div class="inner_div">
						<div id="incomeChart"></div>
					</div>
				</div>
				<div class="left_left_cont">
					<h1>5 самих популярних товарів</h1>
					<div class="inner_div">
						#{if popularItems}
						<ul>
							#{list items:popularItems, as:'item'}
							<li>fuu</li>
							#{/list}
						</ul>
						#{/if}
						#{else}
							&{'restaurant.admin.summary.noorders'}
						#{/else}
					</div>
				</div>
				<div class="right_left_cont">
					<h1>5 останніх не прочитаних коментарів</h1>
					<div class="inner_div">
						#{if comments}
						<ul>
							#{list items:comments, as:'comment'}
							<li>fuu</li>
							#{/list}
						</ul>
						#{/if}
						#{else}
							&{'restaurant.admin.summary.nocomments'}
						#{/else}
					</div>
				</div>
			</div>
			<div id="right_cont">
				<div class="right_block">
					<h1>&nbsp;</h1>
					<div class="inner_div">
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="right_block">
					<h1>&nbsp;</h1>
					<div class="inner_div">
						<p>&nbsp;</p>
					</div>
				</div>
			</div>