#{extends 'main-admin.html' /}
#{set 'helpNav'}

#{/set}
#{set 'c__cities'}active#{/set}
#{form @Admin.addCity() , id:'form', enctype:'multipart/form-data' }
<input type="hidden" value="${city?.id}" name="city.id"/>
<div>
    <label for="city.cityNameUA">city Name UA</label>
    <input type="text" name="city.cityNameUA" value="${city?.cityNameUA}"/>
</div>
<div>
    <label for="city.display">display</label>
    <input type="checkbox" name="city.display" value="${city?.display}"/>
</div>
<input type="submit"/>
#{/form}