#{extends 'main-admin.html' /}
#{set 'c__types'}active#{/set}
#{form @Admin.addType() , id:'form', enctype:'multipart/form-data' }
<input type="hidden" value="${cat?.id}" name="cat.id" /> 
<div>
<label for="cat.categoryDisplayNameEN">Name EN</label>
<input type="text" name="cat.categoryDisplayNameEN" value="${cat?.categoryDisplayNameEN}" />
</div>
<div>
<label for="cat.categoryDisplayNameRU">Name RU</label>
<input type="text" name="cat.categoryDisplayNameRU" value="${cat?.categoryDisplayNameRU}"/>
</div>
<div>
<label for="cat.categoryDisplayNameUA">Name UA</label>
<input type="text" name="cat.categoryDisplayNameUA" value="${cat?.categoryDisplayNameUA}"/>
</div>
<input type="submit" />
#{/form}
