#{extends 'main-admin.html' /}

<ul>
    <li>Cities <a href="@{Admin.showCities}">List</a> <a href="@{Admin.addCity}">Add</a></li>
    <li>Restaurant Types <a href="@{Admin.showTypes}">List</a> <a href="@{Admin.addType}">Add</a></li>
    <li>Restaurants <a href="@{Admin.showRestaurants}">List</a> <a href="@{Admin.addRestaurant}">Add</a></li>
    <li>MenuItemCategories <a href="@{Admin.showCategories}">List</a> <a href="@{Admin.addCategory}">Add</a></li>
    <li>Menu Items <a href="@{Admin.showMenuItems}">List</a> <a href="@{Admin.addMenuItem}">Add</a></li>
    <li>Orders <a href="@{Admin.showOrders}">List</a></li>
    <li>Users <a href="@{Admin.showUsers}">List</a></li>
    <li>System Settings <a href="@{Admin.showSettings}">List</a></li>
</ul>

