#{extends 'main-admin.html' /}
#{set 'c__rest'}active#{/set}
#{form @Admin.showRestaurants() , id:'form', enctype:'multipart/form-data' } 
#{select 'id', value:1, id:'id'}
#{list items:cities, as:'city'}
#{option city.id} ${city.cityNameUA} #{/option}
#{/list}
#{/select}
#{/form}
<table border="1">
<tr> 
    <th>Actions</th> 
    <th>Name</th> 
    <th>Display</th> 

</tr>
#{list items:restaurants, as:'rest'}
<tr>
    <td><a href="#">edit</a></td>
    <td>${rest.title}</td>
    <td>${rest.twoLetters}</td>

</tr>
#{/list}
</table>




{*address : Address
category : RestaurantCategory
contactPerson : String
contactPhone : String
desc
device : RestaurantDevice
discount : Double
logo : Blob
raiting : Integer
showOnIndex : boolean
twoLetters : String
workHours : WorkHours}*