*{margin: 0; padding: 0;}
a img {border:0;}
a, input{outline: 0 none;}
body, html{height: 100%; font-size: 12px; font-family: tahoma;}
.empty_block {height: 85px; clear: both;}
li{list-style: none;}
textarea{resize: none;}
div#wrapper{margin: 0 auto; width: 970px; min-height: 100%;}
div#wrapper div#header{background-color: #fff; width: 100%; border-top: none; float: left; border-bottom: none;}
div#wrapper div#header a.logo{margin-left: 10px; margin-top: 10px; float: left; }
div#wrapper div#header h1.fuck_yeh{text-align: center; font-size: 40px; margin-top: 33px; text-shadow: 4px 3px 2px #A6A7A7;}
div#wrapper div#header ul.login_block{float: right; margin-right: 10px; margin-top: 10px;}
div#wrapper div#header ul.login_block li{float: left; margin-left: 10px;}
div#wrapper div#header ul.login_block li a{color: #215393; font-size: 12px;}
div#wrapper div#header ul.login_block a:first-child{margin-right: 10px;}
div#wrapper div#header ul.mainnav{float: left; width: 100%;}
div#wrapper div#header ul.mainnav li{float: left; font-size: 12px; height: 42px; margin-top: 4px; line-height: 42px; padding: 0 11px; text-align: center;}
div#wrapper div#header ul.mainnav li:last-child{float: right;}
div#wrapper div#header ul.mainnav li.active_item, div#wrapper div#header ul.mainnav li:hover{padding: 0 10px; background-color: #F08A1D; border: 1px solid #000; border-bottom: none; border-radius: 5px 5px 0 0; height:46px; line-height: 46px; margin-top: 0px;}
div#wrapper div#header ul.mainnav li:hover a{text-decoration: underline;}
div#wrapper div#header ul.mainnav li a{display: block; color: #fff; text-decoration: none; font-size: 15px; font-weight: bold;}
div#wrapper div#content {float:left;width: 930px; margin-left:13px; padding: 15px 5px 5px;}
div#wrapper div#content p{margin-bottom: 5px; line-height: 18px; text-indent: 5px;}
div#wrapper div#content div#left_cont {width:770px; float:left;}
div#wrapper div#content div#left_cont .top_left_cont{width:758px; border-radius: 10px; border: 1px solid #B3B3B3; border-radius: 5px 5px 5px 5px; box-shadow: 6px 6px 9px -4px #B3B3B3; margin-bottom: 5px; }
div#wrapper div#content h1{background: url(/public/images/rpi_h1_bg.gif) repeat-x scroll 0 0 transparent; border-radius: 5px 5px 0 0; font-size: 16px; font-weight: normal; height: 21px; line-height: 24px; margin-bottom: 5px; padding: 0 11px 5px;}
div#wrapper div#content h1:first-letter{color: #ff1199; text-transform: uppercase;}
div#wrapper div#content div#left_cont .left_left_cont {width: 395px; border: 1px solid #B3B3B3; border-radius: 5px 5px 5px 5px; box-shadow: 6px 6px 9px -4px #B3B3B3; float: left; margin-bottom:5px;}
div#wrapper div#content div#left_cont .right_left_cont {width: 345px; margin-right: 10px; float: right;  border: 1px solid #B3B3B3; border-radius: 5px 5px 5px 5px; box-shadow: 6px 6px 9px -4px #B3B3B3; margin-bottom: 5px;}
div#wrapper div#content div#right_cont {width:154px; float:right;}
div#wrapper div#content div#right_cont .right_block {width: 155px; float:left;  border: 1px solid #B3B3B3; border-radius: 5px 5px 5px 5px; box-shadow: 6px 6px 9px -4px #B3B3B3; margin-bottom: 10px;}
div#wrapper div#content div.inner_div {padding: 5px 10px;}


div#wrapper div#header div.header_top{margin-bottom: 15px;min-height: 75px; background: url(/public/images/header_top_bg.gif) repeat-x 0 0 transparent;  border: 1px solid #999999; border-radius: 7px 7px 7px 7px; box-shadow: 0 0 0 3px #EDEDED;}
*+html div#wrapper div#header div.header_top{height: 75px;}
div#wrapper div#header div.header_top a.logo{float: left; margin-left: 9px; margin-top: -10px;}
div#wrapper div#header div.header_top h1{color: #000; font-weight: normal; display: inline; margin-top: 6px; text-shadow: 1px 1px 1px #E6E6E6; filter: Shadow(Color=#E6E6E6, Direction=45, Strength=2);}
div#wrapper div#header div.header_top div.right_links{float: right; width: 50%;}
*+html div#wrapper div#header div.header_top div.right_links{margin-top: -40px;}
div#wrapper div#header div.header_top ul.lang{font-family: Tahoma; font-size: 12px; margin-top: 6px;}
div#wrapper div#header div.header_top ul.lang li{float: left; margin-right: 9px;}
div#wrapper div#header div.header_top ul.lang li.active a, div#wrapper div#header div.header_top ul.lang li a:hover{color: #000; text-decoration: none;}
div#wrapper div#header div.header_top ul.lang li a{color: #666;}
div#wrapper div#header div.header_top a.enter{color: #fff; font-family: Tahoma; font-size: 12px; float: right; font-weight: bold; margin-top: 10px; margin-right: 9px;}
div#wrapper div#header div.header_top a.enter.gihurda {text-decoration: none;}
div#wrapper div#header div.header_top a.enter span{color: #ff1100; border-bottom: 1px solid;}
div#wrapper div#header div.header_top a.tsupport{line-height: 20px; margin-top: 20px;}
div#wrapper div#header div.header_top a.tsupport img{float: left; height: 20px; margin-right: 5px;}
div#wrapper div#header div.header_bottom{min-height: 46px; background-color: #e83f0b; border: 1px solid #999999; border-radius: 7px 7px 7px 7px; box-shadow: 0 0 0 3px #EDEDED;}

div#footer{height: 75px; position: relative; line-height: 75px; z-index: 100; width: 982px; margin: -80px auto 0; background: url(/public/images/header_top_bg.gif) repeat-x 0 0 transparent;  border: 1px solid #999999; border-radius: 7px 7px 7px 7px; box-shadow: 0 0 0 3px #EDEDED;}
div#footer a{font-size: 26px; text-shadow: 4px 3px 2px #A6A7A7; text-decoration: none; color: #df544a;}
