<html>
<head>
    <link rel="stylesheet" href="/public/client/courier/web/css/main.css" type="text/css"/>
    <meta name="viewport" content="target-densitydpi=device-dpi"/>
    <script type="text/javascript" src="/public/client/shared/web/js/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="/public/client/shared/web/js/jquery.json-2.3.js"></script>
    <script type="text/javascript" src="/public/client/shared/web/js/jquery.waitforimages.js"></script>
    <script type="text/javascript">
        var DCWLang = {};
        var _ = {};
    </script>
    <script type="text/javascript" src="/public/client/courier/web/lang/en.js"></script>
    <script type="text/javascript" src="/public/client/courier/web/lang/ua.js"></script>
    <script type="text/javascript" src="/public/client/shared/web/js/utils.js"></script>
    <script type="text/javascript" src="/public/client/courier/web/js/functional.js"></script>
    <script type="text/javascript" src="/public/client/shared/web/js/connection.js"></script>

    <script type="text/javascript">
        //_.isTest();
        _.internal = true;
    </script>

    <script type="text/javascript" src="/public/client/courier/web/js/main.js"></script>
</head>
<body>
</body>
</html>