#{extends 'main.html' /}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.fancybox-1.3.4.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.floatobject-1.0.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/inputs_and_labels.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.jNice.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.mousewheel-3.0.4.pack.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/menu.js'}"></script>
#{/set}
#{set 'breadCrumb' }
<a class="enter back" href="/">&{'common.gohome'}</a>
#{if controllers.Security.isConnected()}
		<a class="enter" href="@{Secure.logout()}">&{'common.logout'}</a>
		<a class="enter" href="@{Locker.index()}">&{'common.loggedinas', controllers.Security.connected()}</a>
		
	#{/if}
	#{else}
		<a class="enter" href="@{Secure.login()}">&{'common.login'}</a>
	#{/else}
#{/set}
<div class="cabinetwrap">
	<div class="tabgroup">
		<a href=" @ {Application.cabinet}">&{'common.basket.lastorder'}</a>
		<a class="active" href="@ {Application.cabinetProfile}">&{'common.profile'}</a>
	</div>
	<div class="left_cont">
		<table class="profile_edit">
			<tr><th><label for="input01">%username%</label></th><td><input id="input01" type="text" /></td></tr>
			<tr><th><label for="input02">Пароль</label></th><td><input id="input02" type="password" /></td></tr>
			<tr><th><label for="input03">Повне ім'я</label></th><td><input id="input03" type="text" /></td></tr>
			<tr><th><label for="input04">Телефон</label></th><td><input id="input04" type="text" /></td></tr>
			<tr><th><label for="input05">e-mail</label></th><td><input id="input05" type="text" /></td></tr>
			<tr><th></th><td><input type="submit" value="Зберегти" /></td></tr>
		</table>
		<table class="adr">
			<tr><th>1.</th><td>Львів, вул. Вітовського 12/45</td>				<td>
					<a class="tync" href="#">редагувати</a>
					<div>
						<table class="profile_edit">
							<tr><th><label for="input06">Місто</label></th><td><input id="input06" type="text" /></td></tr>
							<tr><th><label for="input07">Вулиця</label></th><td><input id="input07" type="text" /></td></tr>
							<tr><th><label for="input08">Будинок</label></th><td><input id="input08" type="text" /></td></tr>
							<tr><th><label for="input09">Квартира</label></th><td><input id="input09" type="text" /></td></tr>
							<tr><th></th><td><input type="submit" value="Зберегти" /></td></tr>
						</table>
					</div>
				</td>
			</tr>
			<tr><th>2.</th><td>Львів, вул. Бориса Гниди 4</td>
				<td>
					<a class="tync" href="#">редагувати</a>
					<div>
						<table class="profile_edit">
							<tr><th><label for="input10">Місто</label></th><td><input id="input10" type="text" /></td></tr>
							<tr><th><label for="input11">Вулиця</label></th><td><input id="input11" type="text" /></td></tr>
							<tr><th><label for="input12">Будинок</label></th><td><input id="input12" type="text" /></td></tr>
							<tr><th><label for="input13">Квартира</label></th><td><input id="input13" type="text" /></td></tr>
							<tr><th></th><td><input type="submit" value="Зберегти" /></td></tr>
						</table>
					</div>
				</td>
			</tr>
			<tr><th>3.</th><td>Львів, пр. Шевченка 10/20</td>
				<td>
					<a class="tync" href="#">редагувати</a>
					<div>
						<table class="profile_edit">
							<tr><th><label for="input14">Місто</label></th><td><input id="input14" type="text" /></td></tr>
							<tr><th><label for="input15">Вулиця</label></th><td><input id="input15" type="text" /></td></tr>
							<tr><th><label for="input16">Будинок</label></th><td><input id="input16" type="text" /></td></tr>
							<tr><th><label for="input17">Квартира</label></th><td><input id="input17" type="text" /></td></tr>
							<tr><th></th><td><input type="submit" value="Зберегти" /></td></tr>
						</table>
					</div>
				</td>
			</tr>
			<tr><th colspan="3"><a href="#">+ <span>додати нову адресу</span></a></th></tr>
		</table>
	</div>
	<div class="right_cont">

	</div>
</div>
