@import play.i18n._

@views.html.Static.staticMain( title = "Про нас") {
                <div class="static_left">
                    <h3></h3>
                    <ul>
                        <li></li>
                    </ul>
                    <h3></h3>
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div class="static_right">
                    <h3></h3>
                    <ul>
                        <li></li>
                    </ul>
                </div>
}
