@views.html.Static.staticMain(title = "Контакти") {
<div class="static_left"> <h2> Контактна сторінка </h2> </div>
<div class="static_left">
    <h3> Сюди звертайтесь за питаннями співпраці. І не тільки співпраці.</h3>
    <ul>
        <li class="single"> <a href="mailto:office@@vdoma.com.ua?subject=Collaboration"> office@@vdoma.com.ua </a> </li>
    </ul>
</div>
<div class="static_left">
    <h3>...або дзвоніть за телефоном </h3>
    <ul>
        <li class="single"> +38 067 386 45 01 - Андрій Прокоф'єв </li>
    </ul>
</div>
<div class="static_left">
    <h3> Цього має бути достатньо </h3>
    <ul>
        <li class="single"> решту явок і паролів ми вам покищо не видамо : ) </li>
    </ul>
</div>
}
