@views.html.Static.staticMain(title = "Для ресторанів") {
<div class="static_left"> <h2> Сторінка для ресторанів </h2> </div>
<div class="static_left">
    <h3> Хто ми є? </h3>
    <ul>
        <li> Фірма, яка займається доставкою готової продукції з закладів харчування з можливістю замовлення через
            інтернет.
        </li>
        <li> Професійна команда, спрямована на розробку та вдосконалення користувацьких сервісів за допомогою новітніх
            технологій, в особливості Інтернет-орієнтованих.
        </li>
    </ul>
</div>
<div class="static_left">
    <h3> Як це працює? </h3>
    <ul>
        <li> Якщо ви зацікавленні співпрацювати з нами - <a href="mailto:office@@vdoma.com.ua?subject=Collaboration"> зв'яжіться
            з нами </a>.
        </li>
        <li> У нас діє гнучка система договорів і обумовлюється в рамках конкретного договору. Ми впевнені, що зможемо
            підібрати оптимальні для вас умови.
        </li>
    </ul>
</div>
<div class="static_left">
    <h3> Що ви отримуєте? </h3>
    <ul>
        <li> Збільшення клієнтської бази за рахунок замовлень через Інтернет.</li>
        <li> Персональна сторінка та додаткова реклама в Інтернеті </li>
        <li> Підвищення індексу вашої присутності в Інтернеті.</li>
        <li> Приватний кабінет з гнучкою можливістю налаштування вашого меню та детальними звітами з продаж через наш
            сайт.
        </li>
    </ul>
</div>
}