@views.html.Static.staticMain(title = "Наші умови") {
<div class="static_left"> <h2> Сторінка для правил </h2> </div>
<div class="static_left">
    <h3> Умови доставки </h3>
    <ul>
        <li> Ціна доставки 15 грн.</li>
        <li> Безкоштовна доставка відбувається при здійсненні замовлення на сумму більшу 150 грн.</li>
        <li> В ціну страв може бути включена ціна упаковки.</li>
        <li> Замовлення доставляються нашими кур'єрами в час вказанний на останній сторінці замовлення.
        </li>
        <li> Замовлення можна зробити у час, залежний від роботи закладу, в якому ви хочети зробити
            замовлення. Час роботи закладу вказаний в блоці з інформаціює про заклад.
        </li>
    </ul>
</div>
<div class="static_left">
    <h3> Важливо! </h3>
    <ul>
        <li> Замовлення приймаються тільки в межах міста.</li>
        <li> Одне замовлення можна здійснити лише з одного закладу.</li>
    </ul>
</div>
<div class="static_left">
    <h3> Варто зауважити, що </h3>
    <ul>
        <li class="single"> Діючі правила будуть змінюватись і удосконалюватись, оскільки сервіс працює в
            тестовому режимі і робота над його вдосконаленням триває. Ми робитимемо все можливе, щоб наш
            сервіс повністю задовільняв ваші потреби.
        </li>
        <li class="single"> Підписуйтесь в соціальних мережах на наші оновлення і будьте завжди в курсі
            найновіших можливостей сервісу, акцій, знижок і багатьох приємних бонусів, які чекаютимуть
            вас незабаром.
        </li>
    </ul>
</div>
}