<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	*{
		required: user.name / .login , restoraunt(in childs)
	}*
	<title>#{get 'title' /}</title>
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/admin-style.css'}" media="screen" />
	#{get 'moreStyles' /}
	<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="utf-8"></script>
	#{get 'moreScripts' /}
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="header_top">
				<a href="@{RestaurantAdmin.summary()}" class="logo">
				         <img alt="На головну!" title="На головну!" src="@{'/public/images/logo.png'}" /></a>
				<div class="right_links">
					<a class="enter" href="#">увійти</a>
					<a class="enter gihurda" href="#">&{'common.loggedinas', login}</a>
				</div>
				<div class="right_links">
					<a class="tsupport enter" href="#">Довідка</a>
					<a class="tsupport enter" href="callto:jrand0m"><img src="@{'/public/images/skype_pic.png'}" />Зв'язатитсь з підтримкою</a>
				</div>
			</div>
			<div class="header_bottom">
				<ul class="mainnav">
					<li ${module=="summary"?"class=active_item":""}><a href="@{RestaurantAdmin.summary()}">&{'admin.restaurant.summary.tabtitle'}</a></li>
					<li ${module=="showReports"?"class=active_item":""}><a href="@{RestaurantAdmin.showReports()}">&{'admin.restaurant.reports.tabtitle'}</a></li>
					<li ${module=="showProfile"?"class=active_item":""}><a href="@{RestaurantAdmin.showProfile()}">&{'admin.restaurant.profile.tabtitle'}</a></li>
					<li ${module=="showMenu"?"class=active_item":""}><a href="@{RestaurantAdmin.showMenu()}">&{'admin.restaurant.menu.tabtitle'}</a></li>
					<li ${module=="showEvents"?"class=active_item":""}><a href="@{RestaurantAdmin.showEvents()}">&{'admin.restaurant.events.tabtitle'}</a></li>
					<li ${module=="showInvoices"?"class=active_item":""}><a href="@{RestaurantAdmin.showInvoices()}">&{'admin.restaurant.invoices.tabtitle'}</a></li>
					<li ${module=="showShop"?"class=active_item":""}><a href="@{RestaurantAdmin.showShop()}">&{'admin.restaurant.shop.tabtitle'}</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			#{doLayout /}
		</div>
		<div class="empty_block">
		</div>
	</div>
	<div id="footer">
		<center>&{'admin.restaurant.footertext'}</center>
	</div>
</body>
</html>