<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext'
          rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>Вибачте за незручності, сьогодні ми реконструкцію робимо, завтра на сайті побачите більше цікавого
        Ви</title></head>
<body style="background:#fcfdf7;">
<center><img src="/static/images/yoda.jpg"/>

    <p title="Вибачте за незручності, сьогодні ми реконструкцію робимо, завтра на сайті побачите більше цікавого Ви"
       style="font:36px 'Open Sans Condensed'">"Вибачте за незручності, сьогодні ми реконструкцію робимо, завтра на
        сайті побачите більше цікавого Ви...</p>
</center>
</body>
</html>
