/**
 * Star rating L-R panels 
*/
.ratings {
	margin: 0 0 1em;
	width: 100%;
	overflow: hidden;
	line-height: 2em;
}
.rating-L {
	float: left;
	margin-right: 1em;
	white-space: nowrap;
}
.rating-R {
	float: left;
	margin-left: 1em;
	width: 300px;
}


