footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #7b7490;
  font-size: 12px;
  height: 80px;
  line-height: 70px;
  margin: 0 auto;
  padding: 10px 30px 0 30px;
  margin-top: -90px;
  color: #ACDF49;
}
footer nav {
  display: flex;
  float: right;
  height: 20px;
  margin-right: 40px;
  position: relative;
  top: 17px;
}
footer nav a {
  background: rgba(0, 0, 0, 0) url('/static/images/social.svg') no-repeat scroll 0 0 content-box border-box;
  display: inline-block;
  height: 32px;
  margin-right: 7px;
  padding: 5px;
  width: 33px;
}
footer nav a.tw {
  background-position: -34px -2px;
}
footer nav a.tw:hover {
  background-position: -34px -40px;
}
footer nav a.fb {
  background-position: -71px -3px;
  margin-right: 0;
}
footer nav a.fb:hover {
  background-position: -71px -40px;
}
footer .privacy-policy-link {
  border-left: 2px solid #fff;
  color: #fff;
  display: inline-block;
  line-height: 14px;
  margin-left: 10px;
  padding-left: 10px;
}
