header {
  position: relative;
  height: 90px;
  line-height: 85px;
  color: #fff;
  font-size: 12px;
  z-index: 101;
  margin: 0 auto;
}
header a {
  color: #fff;
  text-transform: uppercase;
  outline: 0 none !important;
}
header a.logo-link {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Lobster', cursive;
  text-transform: none;
  font-size: 30px;
}
header a.logo-link span {
  transition: color 0.2s ease-out;
}
header a.logo-link span:first-child {
  color: #FFCC2B;
}
header a.logo-link span:last-child {
  color: #ACDF49;
}
header a.logo-link:hover {
  color: #fff;
}
header a.logo-link:hover span:first-child {
  color: #ACDF49;
}
header a.logo-link:hover span:last-child {
  color: #FFCC2B;
}
header a:hover {
  color: #ACDF49;
}
header .main-menu {
  display: inline-block;
}
header .sign-in-block {
  text-align: right;
  float: right;
}
header nav {
  margin-left: 57px;
  display: inline-block;
  font-size: 0;
  float: right;
}
header nav a {
  margin-right: 35px;
  font-size: 14px;
  outline: 0 none !important;
  font-weight: 600;
}
header nav a:last-child {
  margin-right: 0;
}
header .btn.login {
  color: #fff;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #e8e9ec;
  display: inline-block;
  padding: 0 20px;
  margin-left: 25px;
  margin-top: 20px;
}
header .btn.login:hover {
  background-color: #ACDF49;
  border-color: #ACDF49;
  color: #fff !important;
}
header .btn.login:active {
  background-color: #81AF42;
  border-color: #81AF42;
  color: #618fb5 !important;
}
.wrapper-main header {
  padding-bottom: 60px;
  height: calc(100% - 90px);
  background: url('/static/img/main-backgrounds/01.jpg') no-repeat 0 0 transparent;
  background-size: cover;
  background-position: center center;
  transition: background-image 1s ease-in-out;
}
.wrapper-main header .search_block {
  padding-top: 200px;
  color: #fff;
  line-height: normal;
  font-weight: 300;
  font-size: 16px;
}
.wrapper-main header .search_block ul {
  padding: 0;
  width: 100%;
  font-size: 0;
}
.wrapper-main header .search_block ul li {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 100px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-width: 3px;
  border-bottom: 0 none;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper-main header .search_block ul li.active,
.wrapper-main header .search_block ul li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.wrapper-main header .search_block ul li.active:nth-of-type(1),
.wrapper-main header .search_block ul li:hover:nth-of-type(1) {
  border-top: 3px solid #ACDF49;
}
.wrapper-main header .search_block ul li.active:nth-of-type(2),
.wrapper-main header .search_block ul li:hover:nth-of-type(2) {
  border-top: 3px solid #FFCC2B;
}
.wrapper-main header .search_block ul li.active:nth-of-type(3),
.wrapper-main header .search_block ul li:hover:nth-of-type(3) {
  border-top: 3px solid #fff;
}
.wrapper-main header .search_block ul li.active:nth-of-type(4),
.wrapper-main header .search_block ul li:hover:nth-of-type(4) {
  border-top: 3px solid #ff0028;
}
.wrapper-main header .search_block ul li.active a,
.wrapper-main header .search_block ul li:hover a {
  color: #FFCC2B;
}
.wrapper-main header .search_block ul li a {
  display: block;
  line-height: 100px;
}
.wrapper-main header .search_block p {
  color: #FFCC2B;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 20px;
}
.wrapper-main header .search_block p a {
  font-size: 18px;
  border-bottom: 1px dotted #fff;
  text-decoration: none;
  text-transform: none;
}
.wrapper-main header .search_block p a:hover {
  border-color: #ffcc2b;
}
.wrapper-main header .search_block h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 50px;
  text-align: center;
}
.wrapper-main header .search_block input[type="text"] {
  height: 60px;
  line-height: 60px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}
