* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a img {
  border: 0 none;
}
a,
input {
  outline: 0px none;
}
a {
  color: #0099cc;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
li {
  list-style: none;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2e2f44;
  line-height: 20px;
  position: relative;
  height: 100%;
}
header,
footer {
  padding: 0 30px;
}
.section {
  max-width: 980px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100%;
  background-color: #f0f0f0;
}
.content {
  text-align: center;
  padding-top: 50px;
}
.push {
  height: 90px;
}
