#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'breadCrumb'}
					<form class="search jNice" action="#">
						<label for="inpec01">Знайди свій улюблений ресторан</label>
						<select>
							<option>Львів,</option>
							<option>Київ,</option>
							<option>Дніпропетровськ,</option>
							<option>Одеса,</option>
							*{<option>Чорнобиль,</option>}*
						</select>
						<input type="text" value="" name="you_restraunt" id="inpec01" />
						<input type="submit" class="submit" name="you_restraunt_submit" value="" />
					</form>
					#{if controllers.Security.isConnected()}
							<a class="enter" href="@{Secure.logout()}">&{'common.logout'}</a>
							<a class="enter" href="@{Locker.index()}">&{'common.loggedinas', controllers.Security.connected()}</a>
							
						#{/if}
						#{else}
							<a class="enter" href="@{Secure.login()}">&{'common.login'}</a>
						#{/else}
#{/set}


#{list items:restaurants, as:'restaurant' }
	%{ ntw = restaurant instanceof models.RestaurantNetwork}%
					<div class="rest_item_prev %{restaurant.isOnline()?"":"rest_offline"}%  %{ntw?"rest_network_view":""}%">
						<h1>
							<b>${restaurant.title}</b><br />
							<span>${restaurant.addressToString()}</span>
							<a>${restaurant.isOnlineAsString()}</a>
						</h1>
						<div class="logo">
							<i></i><img class="logo" src="@{Application.serveLogo(restaurant.id)}" />
						</div>
						<p class="info">${restaurant.description()}</p>
						<p class="work_time">${restaurant.workHoursToday()}</p>
						<p class="dostavka">Доставка та самовивіз(todo)</p>
						<p class="stars">Рейтинг<span class="rate1"></span></p>
					%{ if (!ntw) { }%
						<a class="menu_but" href="@{Application.showMenu(restaurant.id)}" title="Перегляньте меню цього ресторану">Меню</a>
					</div>
					%{ } else { }%
						<a class="menu_but" id="various1" href="#n${restaurant.id}" title="Перегляньте меню цього ресторану">&{'restaurant.network.selectbtn'}</a>
					</div>
					<div style="display: none;">
						<div id="n${restaurant.id}" class="fancy_window">
						#{list items:restaurant.restoraunts, as:'subrest' }
							<div class="rest_item_prev %{subrest.isOnline()?"":"rest_offline"}%">
								<h1>
									${subrest.title}<br />
									<span>${subrest.addressToString()}</span>
									<a>${subrest.isOnlineAsString()}</a>
								</h1>
								<div class="logo">
									<i></i><img class="logo" src="@{Application.serveLogo(subrest.id)}" />
								</div>
								<p class="info">${subrest.description()}</p>
								<p class="work_time">${subrest.workHoursToday()}</p>
								<p class="dostavka">Доставка та самовивіз(todo)</p>
								<a class="menu_but" href="@{Application.showMenu(subrest.id)}" title="Перегляньте меню цього ресторану">Меню</a>
							</div>
						#{/list}
					%{}}%
#{/list}
					<a class="see_all" href="#">Подивитися усі ресторани</a>
					<div class="index_bottom">
						<h2>Три кроки, які принесуть вам їжу</h2>
						<div class="staps first">
							<h3><span>1. </span>Виберіть їжу</h3>
							<p>Вибір ресторану не проста річ, у нас підключено дуже багато ресторанів. Є піццерії, є суші бари, паби і кафешки. Ось на головній сторінці є маленький список з восьми найпопулярніших ресторанів. Ви можете переглянути всі натиснувши на копку під списком ресторанів бо на верху сторінки. Виберіть ресторан!</p>
						</div>
						<div class="staps">
							<h3><span>2. </span>Оберіть меню</h3>
							<p>Тут все дуже просто: знаходьте ваші страви у меню ресторану і додавайте їх у кошик. Якщо ви зареєстровані - у меню зверху ви зможете переглянути ваші останні замовлення, особистті данні для доставки, вашу статистику.</p>
						</div>
						<div class="staps">
							<h3><span>3. </span>Замовляйте.</h3>
							<p>Після того як ви вибрали меню і натиснули клавішу замовити ми кажемо: <br />- Дякуємо, що скористались нашим сайтом.<br />Після замовлення ви можете подивитис на статус вашого замовлення та оцінити ресторан, його меню чи якість доставки. Це допоможе ресторану стати ще краще, або не робити помилок наприклад:)</p>
						</div>
						<div class="zaraz">
							<h1>Зараз замовляють</h1>
							<div class="zaraz_item">
								<h2>Че.</h2>
								<h3>Піцерія Челентано</h3>
								<p>Піцца Ніч Венеції, Кока-Кола 2л., салат Олів'є, сік банановий, зелені овочі</p>
							</div>
							<div class="zaraz_item">
								<h2>Чп.</h2>
								<h3>Час Поїсти</h3>
								<p>Голубці, сметана, соус тартар, пиво Опілля Фірмове Бочкове, кандибобрики мариновані в соці авокадо, рибні палички</p>
							</div>
							<div class="zaraz_item">
								<h2>ДР.</h2>
								<h3>Джонні Рокер</h3>
								<p>Сніданок байкерський, стейк з кров'ю, віскарь, печиво Малятко</p>
							</div>
							<div class="zaraz_item">
								<h2>Че.</h2>
								<h3>Піцерія Челентано</h3>
								<p>Піцца День в Генуї, Фанта, салат грецький, сік маракуї, червоні фрукти</p>
							</div>
							<div class="zaraz_item">
								<h2>Га.</h2>
								<h3>Гарбуз</h3>
								<p>Соус гострий, горілка десант, весняний салат, каунний морс, гарбузова каша</p>
							</div>
						</div>
					</div>