#{extends 'main.html' /}
#{set 'breadCrumb' }
<a class="enter back" href="@{Application.showRestaurants()}" >&{'common.back'}</a>
#{if controllers.Security.isConnected() && !(user instanceof models.users.AnonymousEndUser)}
<a class="enter" href="@{Secure.logout()}">&{'common.logout'}</a>
<a class="enter" href="@{Locker.index()}">&{'common.loggedinas', controllers.Security.connected()}</a>
#{/if}
#{else}
<a class="enter" href="@{Secure.login()}">&{'common.login'}</a>
<a class="enter" href="@{Application.newUser()}">&{'common.register'}</a>
#{/else}
#{/set}
<div class="left_cont">
	<div class="checkout">
		<h1>&{'common.oder.thanks'}</h1>
		<div style="margin:10px;padding: 0 0 10px 0; border-bottom:1px solid #E83F0B">
			<span style="display:inline-block;width:100%; font: normal 13px Tahoma;">
				&{'common.oder.number'}<b>№${order.getShortHandId()}</b>, <span style="font:normal 14px 'Open Sans Condensed'">${order.restaurant.title}</span>
			</span>
			
			<span style="display:inline-block;width:100%; font: normal 13px Tahoma;">
				&{'common.basket.status'}<b style="color:#E83F0B">Підтверджуєтся рестораном</b>
			</span>
		</div>
		
			<table class="result_form">
			<tr><td><h3>Адреса для доставки:</h3></td></tr>
				<tr>
					<td><span>&{'common.reg.name'}</span>${order.orderOwner.usr_name}</td>
				</tr>
				<tr>
					<td><span>&{'common.reg.surname'}</span>${order.orderOwner.usr_surname}</td>
				</tr>
				<tr>
					<td><span>&{'common.reg.city'}</span>${order.restaurant.city}</td>
				</tr>
		
				<tr>
					<td><span>&{'common.reg.street'}</span>${order.deliveryAddress.street}</td>
				</tr>
			
				<tr>
					<td><span>&{'common.reg.homenumber'}</span>${order.deliveryAddress.appartamentsNumber}</td>
				</tr>
				<tr>
					<td><span>&{'common.reg.paymentType'}</span>готівкa</td>
				</tr>
				
			</table>
			
	
		
		<div class="order">
				<table style="padding:13px 10px 0 0;">
				<tr><td colspan="3"><h3>&{'common.basket.order'}: </h3></td></tr>
				      #{list items:order.items, as:'oi'}
					<tr>
						<th>+</th>
						<td>
							<p>${oi.name()}</p>
							<p class="descr">${oi.desc()}</p>
						</td>
						<td>${oi.priceString()} &{'common.uah'}</td>
					</tr>
				      #{/list}
				</table>
				
						<table class="total">
			
			
				<tr><th><span>&{'common.basket.order'}</span></th><td><span>${order.getMenuTotal()} &{'common.uah'}</span></td></tr>
				<tr class="pretotal"><th><span>&{'common.basket.delivery'}</span></th><td><span>${order.getDeliveryPrice()} &{'common.uah'}</span></td></tr>
				<tr class="total"><th><span>&{'common.basket.total'}</span></th><td><span>${order.getGrandTotal()} &{'common.uah'}</span></td></tr>
			</table>
		</div>


	</div>
</div>


<div class="right_cont">
	<div id="timer">
		<span><b>&{'common.order.status'}</b> ресторан обробляє замовлення</span>
		<span><b>&{'common.order.wait'}</b></span>
		<span id="int">23</span>
		<span id="time">&{'common.order.minutes'}</span>
	</div>
</div>