#{extends 'main.html' /}
#{set 'breadCrumb' }
<a class="enter back" href="/">на головну</a>
#{if controllers.Security.isConnected()}
		<a class="enter" href="@{Secure.logout()}">&{'common.logout'}</a>
		<a class="enter" href="@{Locker.index()}">&{'common.loggedinas', controllers.Security.connected()}</a>
		
	#{/if}
	#{else}
		<a class="enter" href="@{Secure.login()}">&{'common.login'}</a>
	#{/else}
#{/set}
<div class="left_cont">
	<div class="checkout">
		<h1>&{'common.oder.thanks'}</h1>
		<div style="margin:10px;padding: 0 0 10px 0; border-bottom:1px solid #E83F0B">
	
			
			<span style="display:inline-block;width:100%; font: normal 13px Tahoma;">
				&{'common.oder.number'}<b>№asd12eda3</b>, <span style="font:normal 14px 'Open Sans Condensed'">ресторан піцца Челентано</span>
			</span>
			
			<span style="display:inline-block;width:100%; font: normal 13px Tahoma;">
				&{'common.basket.status'}<b style="color:#E83F0B">Підтверджуєтся рестораном</b>
			</span>
		</div>
		
			<table class="result_form">
			<tr><td><h3>Адреса для доставки:</h3></td></tr>
				<tr>
					<td><span>&{'common.reg.name'}</span>Василь</td>
				</tr>
				<tr>
					<td><span>&{'common.reg.surname'}</span>Ольховський</td>
				</tr>
				<tr>
					<td><span>&{'common.reg.city'}</span>Львів</td>
				</tr>
		
				<tr>
					<td><span>&{'common.reg.street'}</span>Шептицьких</td>
				</tr>
			
				<tr>
					<td><span>&{'common.reg.homenumber'}</span>54/12</td>
				</tr>
				<tr>
					<td><span>&{'common.reg.paymentType'}</span>готівкa</td>
				</tr>
				
			</table>
			
	
		
		<div class="order">
				<table style="padding:13px 10px 0 0;">
				<tr><td colspan="3"><h3>&{'common.basket.order'}: </h3></td></tr>
					<tr>
						<th>2</th>
						<td>
							<p>Піцца звичайна</p>
							<p class="descr">Каперси, ананаси, печрець, сир моцарелла, палядвиця, бурячок</p>
						</td>
						<td>128 &{'common.uah'}</td>
					</tr>
					<tr>
						<th>1</th>
						<td>
							<p>Салат грецький</p>
							<p class="descr">Бринза, оливки, помідори, зелень</p>
						</td>
						<td>35 &{'common.uah'}</td>
					</tr>
					<tr>
						<th>3</th>
						<td>
							<p>Канапка з ікрою</p>
							<p class="descr">Хліб, ікра, масло</p>
						</td>
						<td>12 &{'common.uah'}</td>
					</tr>
					<tr>
						<th>1</th>
						<td>
							<p>Суп рибний</p>
							<p class="descr">&{'common.basket.getIng'}</p>
						</td>
						<td>54 &{'common.uah'}</td>
					</tr>

				</table>
				
						<table class="total">
			
			
				<tr><th><span>&{'common.basket.order'}</span></th><td><span>${order.getMenuTotal()} &{'common.uah'}</span></td></tr>
				<tr class="pretotal"><th><span>&{'common.basket.delivery'}</span></th><td><span>${order.getDeliveryPrice()} &{'common.uah'}</span></td></tr>
				<tr class="total"><th><span>&{'common.basket.total'}</span></th><td><span>${order.getGrandTotal()} &{'common.uah'}</span></td></tr>
			</table>
		</div>


	</div>
</div>


<div class="right_cont">
	<div id="timer">
		<span><b>&{'common.order.status'}</b> ресторан обробляє замовлення</span>
		<span><b>&{'common.order.wait'}</b></span>
		<span id="int">23</span>
		<span id="time">&{'common.order.minutes'}</span>
	</div>
</div>