#{extends 'main.html' /}

#{set 'title'}
    Order #${order.getShortHandId()}
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.tipsy.js'}"></script>
#{/set}
#{set 'moreStyles'}
 <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/tipsy.css'}" media="screen" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-1.8.16.custom.css'}" media="screen" />
#{/set}
#{set 'breadCrumb' }
<a class="enter back" href="@{Application.showMenu(order.restaurant.id)}" >&{'common.back'}</a>
#{if ((user != null )&&!(user instanceof models.users.AnonymousEndUser))}
<a class="enter" href="@{Secure.logout()}">&{'common.logout'}</a>
<a class="enter" href="@{Locker.index()}">&{'common.loggedinas', controllers.Security.connected()}</a>
#{/if}
#{else}
<a class="enter" href="@{Secure.login()}">&{'common.login'}</a>
<a class="enter" href="@{Application.newUser()}">&{'common.register'}</a>
#{/else}
#{/set}
<div class="left_cont">
	<div class="checkout">
		<h1>&{'common.order.blockTitle'}</h1>
		#{form @Application.checkAndSend()}
			<table class="data_form">
				#{ifErrors }
				      <h2 class="err">Виправте помилки і відправте ще раз!</h2>
				#{/ifErrors}
				<tr><th>
				#{authenticityToken /}
				<input type="hidden" name="id" value="${order.id}" />
				<label for="cinp01">&{'common.reg.name'}</label></th><td>
				<input type="text" value="${flash.name}" name="name" id="cinp01" />
					<span class="wrong_data">#{error 'name' /}</span></td><th>
				<label for="cinp02">&{'common.reg.city'}</label></th><td>
				<input type="text" value="${order.restaurant.city.getLocalizedName()}"  id="cinp02" readonly />
				<input type="hidden" name="city" value="${order.restaurant.city.id}" readonly />
				</td></tr><tr><th>
				<label for="cinp03">&{'common.reg.sname'}</label></th><td>
				<input name="sname" type="text" value="${flash.sname}" id="cinp03" /><span class="wrong_data">#{error 'sname' /}</span></td><th>
				<label for="cinp04">&{'common.reg.street'}</label></th><td>
				<input name="street" type="text" value="${flash.street}" id="cinp04" title='Наразі ми обслуговуємо тільки певний набір вулиць. Якшо вашої вулиці нема в списку ви можете зробити запит на додавання <a href="javascript:addStreet()">тут</a>' />
				<input name="streetid" type="hidden" value="${flash.streetid}" id="cinp08" />
					<span class="wrong_data">#{error 'address.street' /}</span></td></tr><tr><th>
				<label for="cinp05">&{'common.reg.email'}</label></th><td>
				<input name="email" type="text" value="${flash.email}" id="cinp05" />
					<span class="wrong_data">#{error 'email' /}</span></td><th>
				<label for="cinp06">&{'common.reg.homenumber'}</label></th><td>
				<input name="app" type="text" value="${flash.app}" id="cinp06" />
					<span class="wrong_data">#{error 'address.appartamentsNumber' /}</span></td></tr><tr><th>
				<label for="cinp07">&{'common.reg.phone'} +380</label></th><td>
				<input name="phone" type="text" value="${flash.phone}" id="cinp07" /><br />
					<span class="wrong_data">#{error 'phone' /}</span></td><th><label>&{'common.reg.paymentType'}</label></th><td><span><input type="radio" name="oplata" checked />&{'common.reg.paymentType.cash'}</span></td></tr>
					<tr><td colspan="2"></td><th style="vertical-align: top;"><label class="tal" for="aditional_info">Додаткова<br />інформація<br />(код дверeй<br />під'їзду, etc)</label></th><td><textarea id="aditional_info"></textarea></td></tr>
				<tr><th></th><td></td>
				<!--th class="frst" colspan='2'><span><input type="radio" name="oplata" disabled="true" />&{'common.reg.paymentType.card'}<img class="card_pic" src="/public/images/visamastercard.png" /></span></th></tr-->
			</table>
			<table class="total">
				<tr><th><span>&{'common.basket.order'}</span></th><td><span>${order.getMenuTotalString()} &{'common.uah'}</span></td></tr>
				<tr class="pretotal"><th><span>&{'common.basket.delivery'}</span></th><td><span>${order.getDeliveryPriceString()} &{'common.uah'}</span></td></tr>
				<tr class="total"><th><span>&{'common.basket.total'}</span></th><td><span>${order.getGrandTotalString()} &{'common.uah'}</span></td></tr>
				<tr><td colspan="2"><input type="submit" value="&{'common.basket.toorder'}" /></td></tr>
			</table>
			<div class="additional_addreses">
				<h2>Додаткові адреси</h2>
				#{if user instanceof models.users.AnonymousEndUser}
					<p><a href="@{Application.newUser()}">Зареєструйтеся</a> щоби отримати можливість використовувати попередні або збережені адреси</p>
				#{/if}
				#{else}
					#{list items:user.addressBook, as:'address'}
						<p> ${address.street} ${address.building}, ${address.appartamentsNumber} <a href="#">&{'common.basket.addaddress'}</a></p>
					#{/list}
				#{/else}
			</div>
		#{/form}
	</div>
	<h3 class="wait_time">~<span>5</span> &{'common.order.minutes'} </h3>
</div>
<div class="right_cont">
	<div class="right_block" id="basket">
		<h1>&{'common.basket'}</h1>
		<div class="rb_cont">
			<form action="#">
				<table>
				#{list items:order.items, as:'oi'}
					<tr>
						<th></th>
						<td>
							<p>${oi.name()}</p>
							<p class="descr">${oi.desc()}</p>
						</td>
						<td>${oi.priceString()} &{'common.uah'}</td>
					</tr>
				#{/list}
				</table>
				
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
var streets = [
#{list items:streets, as:'street'}
{
  "id" : "${street.id}",
  "text":"${street.name()}"
},
#{/list}
];

$('input#cinp04').tipsy({trigger: 'manual',html:true, gravity:'w'});
var t_h = function (e){
    $('input#cinp04').tipsy("hide");
};
$('input#cinp04').focus(t_h);
$('input#cinp04').change(t_h);
$('input#cinp04').blur(
function (e){
  var val = $('input#cinp04').val();
  if (val){
    
      for (var i = 0; i < streets.length; i++) {
	    var value = streets[i];
	    if (val === value.text){
		$('input#cinp08').val(value.id);
		return false;
	    }
      }
  }
  $('input#cinp04').tipsy("show");
  return false;
}
);
var callback = function (s){
  t_h(); 
  $('input#cinp08').val(s.id); 
}
$( "input#cinp04" ).autocomplete({
			source: streets,
			select: callback
		});
</script>
