#{extends 'main.html' /}
#{set 'title'}
    ${clientName} menu list
#{/set}
    

<script type="text/javascript">
	var _addToOrder = #{jsAction @Application.addOrderItem(':id', ':count') /};
	/*function addToOrder(id){
		var count = $('#count_'+id).value;
		var img =$('#img_add_'+id);
		img.hide('fast', function(){ // hide +
			img.src = "@{'/public/images/ui-progress-bar-indeterminate.gif'}"
			img.show('fast',function(){ // show progress
				$().ajax({
					url:_addToOrder({'id':id, 'count':count}),
					success:function(obj){
						img.hide('fast', function(){ // hide progress
							img.src = "@{'/public/images/tick-button.png'}"
							img.show('fast'); // show ok
						});
					}
				});
			});
		});
		
		
	}*/
</script>
<ol>
 #{list items:menuItems, as:'item' }
     *{<li>${item.name}: ${item.price} <input type="text" width="30px" id="count_${item.id}" value=1 /> <a href="javascript:_addToOrder({'id':${item.id},'count':1})"><img id="img_add_${item.id}" src="@{'/public/images/plus-button.png'}" /></a></li>
	 }*
	 
	 <li>${item.name}: ${item.price}  <a href="@{Application.addOrderItem(item.id, 1)}"><img id="img_add_${item.id}" src="@{'/public/images/plus-button.png'}" /></a></li>
	 
 #{/list}
</ol>