#{extends 'main.html' /}
#{set 'title'}
    ${restaurant.title} menu list
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/menu.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.floatobject-1.0.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/inputs_and_labels.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.jNice.js'}"></script>
#{/set}

<!--POPUP-->

<div style="display: block;">
	<div class="ing_popup" id="ing_popup">
		<form class="jNice" action="#">
			<h1>Піцца велика</h1>
			<p>Томат, перчик, капусточка, бурячок, креветочка</p>
			<table>
				<tr><th colspan="3">Додаткові інгрідієнти</th>												</tr>
				<tr><td><input type="checkbox" /></td><td>Хуєц</td>			<td class="price">+100 грн</td>	</tr>
				<tr><td><input type="checkbox" /></td><td>Гавняшечка</td>	<td class="price">+20 грн</td>	</tr>
				<tr><td><input type="checkbox" /></td><td>Укропчик</td>		<td class="price">+3 грн</td>	</tr>
				<tr class="total"><td>Всього:</td><td></td>					<td class="price">+125 грн</td>	</tr>
				<tr class="button"><td colspan="3"><input type="submit" value="Додати до кошика" /></td>	</tr>
			</table>
		</form>
	</div>
</div>

<!--/-->



				<div class="left_cont">
					<div class="rest_menu">
						<h1>
							${restaurant.title},
							<span>${restaurant.addressToString()}</span>
							<a>${restaurant.isOnlineAsString()}</a>
						</h1>
						<table>
						%{
							int size = menuItems.size();
							for (int base = 0; base < size; base+=4) { 
						}%
							<tr>
							%{
								for (int i = base; (i<base+4)&&(i< size); i++ ){
									models.MenuItemGroup grp = menuItems.get(i);
							}%
									<td><a href="#${grp.anchorName()}">${grp.name}</a></td>
							%{
								}
							}%
							</tr>
						%{
							}
						}%
						</table>
					</div>
					
					#{list items:menuItems, as:'grp'}
					<div class="det_rest_menu">	
						<h1>${grp.name}</h1>
						<a name="${grp.anchorName()}"></a>
						<table> <!-- class="od" -->
							%{
								for (int i = 0; i < grp.items.size(); i++){
								models.MenuItem itm = grp.items.get(i);
								boolean odd = i%2!=0;
							}%
							<tr class="${odd == true ? "od" : "even"}">
								<th><a class="ingredient_popup_but" href="#ing_popup" title="Додайте цей продукт до кошика. Це дуже смачно!"></a></th>
								<td>
									<p>${itm.name}</p>
									<p class="descr">${itm.description}</p>
								</td>
								<td>₴ ${itm.price()}</td>
							</tr>
							%{}}%
						</table>
					</div>
					#{/list}
				</div>
				<div class="right_cont">
					<div class="right_block" id="basket">
						<h1>Кошик</h1>
						<div class="rb_cont">
							<form action="#">
								<table>
									<!-- -->
									<tr>
										<th><span class="minus"></span><input type="text" value="2" name="pcs" onclick="javascript:this.value=''" onblur="javascript:if(this.value=='')this.value='2' " /><span class="plus"></span></th>
										<td>
											<p>Канапка з ікрою</p>
											<p class="descr">Хліб, ікра, масло</p>
										</td>
										<td>12.<sup>--</sup> грн</td>
									</tr>
									<!-- -->
									<tr class="total total2">
										<th></th>
										<td>
											<p>Доставка</p>
										</td>
										<td>10 грн</td>
									</tr>
									<tr class="total">
										<th></th>
										<td>
											<p>Загальна сумма</p>
										</td>
										<td>220 грн</td>
									</tr>
								</table>
								<input type="submit" name="basket_submit" value="До касси" />
							</form>
						</div>
					</div>
				</div>
