#{extends 'main.html' /}
#{set 'title'}
    ${restaurant.title} menu list
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.fancybox-1.3.4.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.floatobject-1.0.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/inputs_and_labels.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.jNice.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.mousewheel-3.0.4.pack.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/mtmpl.js'}"></script>
<script type="text/javascript">
var uu = #{jsAction @Application.basket(":chart") /}
var cu = #{jsAction @Application.comps() /}
var au = #{jsAction @Application.addOrderItem() /}
var du = #{jsAction @Application.cngOrderItem() /}
var rid = ${restaurant.id};
</script>
<script type="text/html" id="cmfrtmp">
<div class="ing_popup" id="ing_popup">
	<h1><%=i.nm%></h1>
	<p><%=i.dc%></p>
		<form class="jNice">
			<input type="hidden" id="basePc" value="<%=i.pc%>" />
			<table class="wrapper">
				<tr class="ing_headr"><th colspan="6">Додаткові інгрідієнти</th></tr>
				<%=i.tb%>			
				<tr class="total"><td><span class="txt">Всього:</span></td><td colspan="4"></td><td class="price">+<%=i.pc%> грн</td>	</tr>
				<tr class="button"><td colspan="6"><div onclick="Basket.add(<%=i.no%>)">Додати до кошика</div></td>	</tr>
			</table>
		</form>
	</div>
</script>
<script type="text/html" id="rotmp">
<tr><td colspan="3"><table><%=i.l%></table></td><td colspan="3"><table><%=i.r%></table></td></tr>
</script>
<script type="text/html" id="dtmp">
<tr><td><% if(d.id){ %><input type="checkbox" id="ck<%=d.id%>" onClick="toggle(this);" /><% }
 %></td><td><%=d.nm?d.nm:''%></td><td class="price"><%=d.pr?'+'+d.pr+' грн':''%></td></td></tr>
</script>
<script type="text/html" id="ittmp">
<tr><th><span class="minus"></span><input type="text" onblur="javascript:if(this.value=='')this.value='<%=cnt%>' " onclick="javascript:this.value=''" name="pcs" value="<%=cnt%>"><span class="plus"></span></th><td><p><%=nm%></p><p class="descr"><%=de%></p></td><td><%=pc%> грн</td></tr></script>
<script type="text/html" id="dptmp">
<tr class="total total2"><th></th><td><p>Доставка</p></td><td><%=pc%> грн</td></tr>
</script>
<script type="text/html" id="tptmp">
<tr class="total"><th></th><td><p>Загальна сумма</p></td><td><%=pc%> грн</td></tr>
</script>
<script type="text/javascript" src="@{'/public/javascripts/menu.js'}"></script>
#{/set}
				<div class="left_cont">
					<div class="rest_menu">
						<h1>
							${restaurant.title},
							<span>${restaurant.addressToString()}</span>
							<a>${restaurant.isOnlineAsString()}</a>
						</h1>
						<table>
						%{
							int size = menuItems.size();
							for (int base = 0; base < size; base+=4) { 
						}%
							<tr>
							%{
								for (int i = base; (i<base+4)&&(i< size); i++ ){
									models.MenuItemGroup grp = menuItems.get(i);
							}%
									<td><a href="#${grp.anchorName()}">${grp.name}</a></td>
							%{
								}
							}%
							</tr>
						%{
							}
						}%
						</table>
					</div>
					
					#{list items:menuItems, as:'grp'}
					<div class="det_rest_menu">	
						<h1>${grp.name}</h1>
						<a name="${grp.anchorName()}"></a>
						<table> <!-- class="od" -->
							%{
								for (int i = 0; i < grp.items.size(); i++){
								models.MenuItem itm = grp.items.get(i);
								boolean odd = i%2!=0;
							}%
							<tr class="${odd == true ? "od" : "even"}">
								<th><a id="a${itm.id}" class="ingredient_popup_but" onclick="add(${itm.id},${itm.showComponents})" title="Додайте цей продукт до кошика. Це дуже смачно!"></a></th>
								<td>
									<p>${itm.name}</p>
									<p class="descr">${itm.description}</p>
								</td>
								<td>${itm.price().raw()} грн</td>
							</tr>
							%{}}%
						</table>
					</div>
					#{/list}
				</div>
				<div class="right_cont">
					<div class="right_block" id="basket">
						<h1>Кошик</h1>
						<div class="rb_cont">
							<form action="#">
								<table>
									<!-- -->
									<tr>
										<th><span class="minus"></span><input type="text" value="2" name="pcs" onclick="javascript:this.value=''" onblur="javascript:if(this.value=='')this.value='2' " /><span class="plus"></span></th>
										<td>
											<p>Канапка з ікрою</p>
											<p class="descr">Хліб, ікра, масло</p>
										</td>
										<td>12.<sup>--</sup> грн</td>
									</tr>
									<!-- -->
									<tr class="total total2">
										<th></th>
										<td>
											<p>Доставка</p>
										</td>
										<td>10 грн</td>
									</tr>
									<tr class="total">
										<th></th>
										<td>
											<p>Загальна сумма</p>
										</td>
										<td>220 грн</td>
									</tr>
								</table>
								<input type="submit" name="basket_submit" value="До касси" />
							</form>
						</div>
					</div>
				</div>
