<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@@{'/public/images/favicon.png'}">
        <script src="@@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div>
            menu: 
            <a href="@@{Application.index}">home</a>
        #{if user}
			#{if user.role == models.User.UserRoles.ADMIN}
				<a href="@@{Bookkeeper.index()}">Bookkeeping</a>
			#{/if}
			#{else}
				#{if user.role == models.User.UserRoles.CLIENT}
	<a href="@@{ClientAdmin.showPage}">Admin</a>
				#{/if}
				#{else}
			Hello,<img src = "@@{'/public/images/user.png'}" /> <a href="@@{Locker.index()}">${user.name}</a>!
		
			<span id="basket_span"><a href="@@{Application.basket()}"><img src = "@@{'/public/images/shopping-basket.png'}" /></a>#{if basketCount}+${basketCount}#{/if}#{else}0#{/else}</span>
				#{/else}
			#{/else}
		
        <a href="@@{Secure.logout()}">Logout<a/>
        #{/if}
        #{else}
        <span id="basket_span"><a href="@@{Application.basket()}"><img src = "@@{'/public/images/shopping-basket.png'}" /></a>#{if basketCount}+${basketCount}#{/if}#{else}0#{/else}</span>
        <a href="@@{Application.newUser()}"><img src = "@@{'/public/images/user--plus.png'}" />Register new User<a/>
        <a href="@@{Secure.login()}"><img src = "@@{'/public/images/key-solid.png'}" />Login<a/>
        #{/else}
        </div>
        #{doLayout /}
		<div id="fotter">
			<ul id="copyrghts">
				<li>vdoma.com.ua(c) 2011. All rights reserverd. Logos and other art that may apear may be registered trademarks and belong to their rightfull owners.</li>
				<li>Some Icons are Copyright &copy; <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved.</li>
			</ul>
		</div>
    </body>
</html>
