<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}" media="screen" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/demos.css'}?b38"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.fancybox-1.3.4.css'}" media="screen" />
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.ui.stars.css'}?v=3.0.0b38"/>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.fancybox-1.3.4.css'}" media="screen" />
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/ico" href="@{'/public/images/favicon.ico'}">
		
        <script src="@{'/public/javascripts/jquery.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.jNice.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery.ui.stars.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery-ui.custom.min.js'}?v=1.8"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery.ui.stars.js'}?v=3.0.0b38"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery.mousewheel-3.0.4.pack.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery.fancybox-1.3.4.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="wrapper">
		<div id="wrapper_inner">
			<div id="header">
				<div class="header_top">
					<a href="/" class="logo"><img alt="На головну!" title="На головну!" src="img/logo.png" /></a>
					<h1>Втамуй свій голод вдома. Ми доставляємо!</h1>
					<div class="right_links">
						<ul class="lang">
							<li class="${"uk".equals(lang)?"active":""}"><a href="@{Application.changeLang("uk")}">українською</a></li>
							<li class="${"ru".equals(lang)?"active":""}"><a href="@{Application.changeLang("ru")}">по-русски</a></li>
							<li class="${"en".equals(lang)?"active":""}"><a href="@{Application.changeLang("en")}">in english</a></li>
						</ul>
						<a class="enter" href="#">увійти</a>
					</div>
					<ul class="main_nav">
						<li><a title="Переглянути список ресторанів" href="#">Список ресторанів</a></li>
						<li class="unactive"><a title="Переглянути список раніше замовлених мною страв" href="#">Мої замовлення</a></li>
						<li><a title="Умови доставки та оплати" href="#">Доставка/оплата</a></li>
					</ul>
				</div>
				<div class="header_bottom">
					#{get 'breadCrumb' /}
				</div>
			</div>
			<div id="content">
				<div class="main_cont">
       				#{doLayout /}
        		</div>
			</div>
		</div>
	</div>
    </body>
</html>
