<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	*{
		required: user.name / .login , restoraunt(in childs)
	}*
	<title>#{get 'title' /}</title>
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main-admin.css'}" media="screen" />
	#{get 'moreStyles' /}
	<script src="@{'/public/javascripts/jquery.min.js'}" type="text/javascript" charset="utf-8"></script>
	#{get 'moreScripts' /}
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<a href="@{RestaurantAdmin.summary()}" class="logo">
				<img src="@{'/public/images/logo.png'}" alt="logo" title="logo" />
			</a>
			<ul class="login_block">
				<li><a href="#">&{'common.loggedinas', login}</a>|</li>
				<li><a href="#">logout</a></li>
			</ul>
			<h1 class="fuck_yeh">#{get 'slogan' /}</h1>
			<ul class="mainnav">
				<li><a href="@{RestaurantAdmin.summary()}">&{'admin.restaurant.summary.tabtitle'}</a></li>
				<li><a href="@{RestaurantAdmin.showReports()}">&{'admin.restaurant.reports.tabtitle'}</a></li>
				<li><a href="@{RestaurantAdmin.showProfile()}">&{'admin.restaurant.profile.tabtitle'}</a></li>
				<li><a href="@{RestaurantAdmin.showMenu()}">&{'admin.restaurant.menu.tabtitle'}</a></li>
				<li><a href="@{RestaurantAdmin.showEvents()}">&{'admin.restaurant.events.tabtitle'}</a></li>
				<li><a href="@{RestaurantAdmin.showInvoices()}">&{'admin.restaurant.invoices.tabtitle'}</a></li>
				<li><a href="@{RestaurantAdmin.showShop()}">&{'admin.restaurant.shop.tabtitle'}</a></li>
			</ul>
		</div>
		<div id="content">
			#{doLayout /}
		</div>
		<div id="footer">
			&{'admin.restaurant.footertext'}
		</div>
	</div>
</body>
</html>